p,h2,h1 {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

aside {
    padding: 15px;
    background-color:#D3D3D3;
    margin-right: 10px;
    border-radius: 25px 0 0 25px;
}

a {
    color: black;
}