* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  background-color: coral;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 210px;
  height: 300px;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
}

.front {
  background-image: url("images/back.jpg");
  background-size: cover;
  background-position: center;
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  border-radius: 10px;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

img {
  width: 210px;
  height: 298px;
  border: 3px solid black;
  border-radius: 19px;
}