* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.wrapper {
  width: 300/320*100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper {
    width: 700/768*100%;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1170/1440*100%;
  }
}

@media (max-width: 899px) {
  .navigation {
  position: fixed;
  top: -100%;
  left: 0;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  }

  .navigation.active {
    top:60px;
    display: block;
  }

  .header-holder__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .header-holder__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header-holder__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
  }

  .navigation__link {
    font-family: Lato,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-align: left;
    text-transform: uppercase;

  }

}

.header {
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.main-header {
  width: 300/320*100%;
  position: fixed;
  background-color: white;
}

@media (min-width: 768px) {
  .main-header {
    width: 700/768*100%;
  }
}

@media (min-width: 1440px) {
  .main-header {
    width: 1170/1440*100%;
  }

  .header {
    height: 100px;
  }
}
/*Header-mobile*/
.main-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-text {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5em;
  }
}

.header-holder {
  width: 74/300*100%;
  max-width: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



a,.header-holder__search {
  cursor: pointer;
}

.navigation__item {
  display: block;
}

li {
  list-style: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.header-holder__hamburger {
  cursor: pointer;
}

.navigation__link {
  font-family: Lato,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-align: left;

}


/**/
/*Header-desktop*/
  @media (min-width: 1440px) {
    .header-holder {
      width: 604px;
      max-width: 1000px;
    }

    .main-header {
      height: 100px;
    }
  }
/**/
/*First-screen-mobile*/
.first-screen {
  height: 500px;
  width: 100%;
  background-image: url("images/first-screen_bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 70px;

  &__text {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-align: left;
    padding: 70px 0;
  }
}
/**/
/*First-screen-tablet*/
@media (min-width: 400px){
  .first-screen {
    height: 320px;
    background-image: url("images/first-screen_bg-tablet.jpg");
    background-size: cover;

    &__text {
      padding: 60px 0;
    }
  }
}
/**/
/*First-screen-desktop*/
  @media (min-width: 1440px) {
    .first-screen {
      height: 600px;
      background-image: url("images/first-screen_bg-destop.jpg");
      background-size: cover;
      margin-bottom: 90px;

      &__text {
        padding: 100px 0;
        font-family: 'Red Hat Display',sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: 0.05em;
        text-align: left;
      }
    }
  }
/**/
/*Blog-mobile*/
.blog {
  height: 1319px;

  &__headline {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
  }

  &__desc {
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #7B7B7B;
    display: inline-block;
    margin-top: 50px;
  }

  &__slogan {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 30px;
  }

  &__date {
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
    color: #7B7B7B;
    display: inline-block;
    margin-top: 15px;
  }

  &__text {
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    margin-top: 40px;
    position: relative;
  }

  &__arrow {
    margin-top: 37px;
  }
}

.blog__arrow-hide {
  display: none;
}
/**/
/*Blog-tablet*/
  @media (min-width: 768px) {
    .blog {
      height: 724px;
    }

    .blog__headline {
      text-align: left;
    }

    .blog__arrow {
      height: 280px;
      width: 340px;
      margin: 0;
    }

    .blog__desc {
      margin: 0;
    }

    .blog-block1 {
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
      height: 280px;
      margin-top: 50px;
      align-items: center;
    }

    .blog-block {
      display: flex;
      gap: 20px;
      height: 280px;
      margin-top: 50px;
      align-items: center;
    }
  }
/**/
/*Blog-desktop*/
  @media (min-width: 1440px) {
    .blog {
      height: 1104px;
    }

    .blog__text {
      width: 446px;
    }

    .cont-blog {
      width: 570px;
    }

    .blog__arrow {
      display: none;
    }
    .blog__arrow-hide {
      display: block;
    }

    .blog-block1 {
      height: 470px;
      gap: 30px;
    }

    .blog-block {
      height: 470px;
      gap: 30px;
    }
  }
/**/
/*Latest-post-mobile*/
.latest-post {
  height: 1452px;
  margin-top: 70px;

  &__headline {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: left;
  }

  &__lamp {
    margin-top: 30px;
  }

  &__desc {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.1em;
    display: inline-block;
    margin-top: 25px;
  }

  &__text {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.05em;
    color: #565656;
    margin-top: 20px;
  }
}

.view-btn {
  display: flex;
  gap: 20px;
  margin-top: 10px;

  &__text {
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
    color: #7B7B7B;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;

  &__name {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #7B7B7B;
  }

  &__date {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #7B7B7B;
  }
}

.post-block2 {
  margin-top: 20px;
}
/**/
/*Latest-post-tablet*/
  @media (min-width: 400px) {
    .view-cont {
      display: flex;
      justify-content: space-between;
    }

    .view-btn__text {
      width: 71px;
    }

    .view-btn__arrow {
      width: 28px;
      height: 16px;
    }
  }

  @media (min-width: 768px) {
    .latest-post {
      height: 868px;
    }

    .post-block {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      margin-top: 30px;
    }

    .post-block2 {
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;

    }

    .latest-post__lamp {
      width: 340px;
      height: 240px;
      margin-top: 0;
    }

    .info {
      margin-top: 3px;

      &__name {
        font-size: 12px;
        font-weight: 400;
      }

      &__date {
        font-size: 12px;
        font-weight: 400;
      }
    }

    .post-block1 {
      margin-top: 50px;
    }

  }
/*Latest-post-desktop*/
  @media (min-width:1440px ) {
    .latest-post {
      margin-top:90px;
      height: 534px;
    }

    .post-block {
      flex-direction: column;
      margin-top: 50px;
      width: 370px;
    }

    .post-block-cont {
      display: flex;
      gap: 30px;
    }

    .latest-post__lamp {
      width: 370px;
    }
  }
/**/
/**/
/*Popular-mobile*/
.popular {
  height: 1185px;
  margin-top: 70px;

  &__text1 {
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    margin-top: 12px;
  }

  &__text2 {
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    margin-top: 15px;
  }
}

.popular__btn {
  height: 46px;
  width: 180px;
  background-color: #565656;
  display: block;
  margin: 50px auto;

  color: white;
  font-family: Lato,sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
/**/
/*Popular-tablet*/
  @media (min-width: 768px) {
    .popular {
      height: 684px;
    }


    .popular-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 340px;
      margin-top: 0;
    }

    .popular-block-cont {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    .popular-img {
      width: 340px;
      height: 160px;
    }

    .popular__btn {
      margin-top: 70px;
    }

    .popular__text2 {
      display: none;
    }
  }
/**/
/*Popular-desktop*/
  @media (min-width: 1440px) {
    .popular {
      margin-top: 90px;
      height: 741px;
    }

    .popular-img {
      width: 570px;
      height: 260px;
    }

    .popular-block {
      width: 570px;
    }

    .popular__text2 {
      display: none;
    }

  }
/**/
/*Info-mobile*/
.info-block {
  height: 384px;
  margin-top: 70px;

  &__desc {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  &__text1 {
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    margin-top: 30px;
  }

  &__text2 {
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 26.56px;
    text-align: left;
    color: #565656;
    margin-top: 30px;
  }
}
/**/
/*Info-tablet*/
  @media (min-width: 768px) {
    .info-block {
      height: 294px;
    }

    .info-block__arrow {
      margin-top: 20px;
    }

    .info-block__text1 {
      text-align: right;
      margin-top: 50px;
    }

    .info-block__text2 {
      text-align: right;
    }

    .info-second {
      width: 589px;
      margin-left: auto;
    }
  }
/**/
/*Info-desktop*/
  @media (min-width: 1440px) {
    .info-block {
      display: flex;
      justify-content: space-between;
      margin-top: 90px;
      height: 161px;
    }

    .info-block__text1 {
      margin-top: 0;
      text-align: left;
    }

    .info-block__text2 {
      text-align: left;
    }

    .info-second {
      width: 470px;
    }

    .footer__number {
      margin: 30px 0;
    }

  }
/**/
/*Footer-mobile*/
.footer {
  height: 400px;
  background-color: #F4F4F4;
  padding: 50px 0;
  margin-top: 70px;

  &__headline {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
  }

  &__number {
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    display: block;
    width: 151px;
    margin:20px auto 20px auto;
  }

  &__email {
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    display: block;
    width: 227px;
    margin: 0 auto;
  }

  &__copyright {
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
  }
}

.social-holder {
  display: flex;
  gap: 23px;
  width: 269px;
  margin: 40px auto;
}
/**/
/*Footer-tablet*/
  @media (min-width: 768px) {
    .footer__headline {
      font-size:48px;
    }
  }
/**/
/*Footer-desktop*/
  @media (min-width: 1440px) {
    .foot-cont {
      display: flex;
      justify-content: space-between;
      width: 1165px;
      margin: 0 auto;
      align-items: center;
    }

    .footer__number {
      margin: 30px 0;
    }

    .footer__email {
      margin: 14px 0;
    }

    .footer {
      padding-top: 70px;
      height: 300px;
      padding-bottom: 30px;
    }

    .social-holder {
      margin: 0;
    }

    .footer__copyright {
      margin-top: 25px;
    }
  }
/**/

@media (min-width: 900px) {
  .header-holder__hamburger{
    display: none;
  }

  .header-holder {
    width: 68.666667%;
    max-width: 577px;
  }
  .navigation {
    display: flex;
    width: 81.735043%;
    max-width: 541px;
    gap: 40px;

    &__item {
      font-family: Lato,sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      position: relative;
    }

    &__item:after {
      content: "";
      width: 40px;
      height: 1px;
      background-color: #000000;
      display: none;
      position: absolute;
      top: 18px;
      left: calc(50% - 20px);
    }

    &__item:active:after {
      display: block;
    }

    .nav-menu {
      display: flex;
      width: 84.735043%;
      max-width: 509px;
      gap: 40px;
    }

  }
}