/*Normalize*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/**/
/*Base*/
.wrapper {
  width: 93.75%;
  margin: 0 auto;
}

/**/
/*Header-Mobile*/
.header {
  height: 60px;
}

.logo-link {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.5em;
}

/**/
/*Screen-Mobile*/
.screen__headline {
  font-family: "Red Hat Display", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.05em;
  text-align: left;
}

.img {
  display: block;
  margin: 30px auto 0 auto;
}

.picture {
  width: 100%;
  max-height: 300px;
}

/**/
/*Description-Mobile*/
.description__headline {
  font-family: "Red Hat Display", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-top: 70px;
}
.description__first-text, .description__second-text {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565656;
  margin: 40px auto;
}
.description__second-text {
  margin: 0 auto 70px auto;
}

/**/
/*First-Mobile*/
.first__headline {
  font-family: "Red Hat Display", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.1em;
  text-align: left;
}
.first__first-text, .first__second-text {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565656;
  margin: 15px auto;
}
.first__second-text {
  margin: 40px auto 70px auto;
}

/**/
/*Footer-Mobile*/
.footer {
  height: 400px;
  background-color: #F4F4F4;
  padding: 50px 0 30px 0;
  margin-top: 70px;
}
.footer__headline {
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}
.footer__number {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1em;
  display: block;
  width: 151px;
  margin: 20px auto 20px auto;
}
.footer__email {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1em;
  display: block;
  width: 227px;
  margin: 0 auto;
}
.footer__copyright {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
}

.social-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  width: 269px;
  margin: 40px auto;
}

/**/
@media (min-width: 768px) {
  /*Base*/
  .wrapper {
    width: 91.1458333333%;
  }
  .picture {
    max-height: 380px;
  }
  /**/
  /*First-tablet*/
  .screen {
    margin-top: 50px;
  }
  .screen__headline {
    font-size: 33px;
  }
  .img {
    margin: 50px auto 20px auto;
  }
  /**/
  /*Description-tablet*/
  .description__headline {
    font-size: 28px;
  }
  .description__first-text, .description__second-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    margin: 50px auto 40px auto;
  }
  .description__second-text {
    margin: 0 auto 70px auto;
  }
  /**/
  /*First-Tablet*/
  .first__headline {
    font-family: "Red Hat Display", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0.1em;
  }
  .first__first-text, .first__second-text {
    font-family: Lato, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    margin: 15px auto;
  }
  .first__second-text {
    margin: 40px auto 70px auto;
  }
  .first .footer__headline {
    font-size: 48px;
  }
  .first .footer__number {
    font-size: 16px;
  }
  .first .footer__email {
    font-size: 16px;
  }
  .first .footer__copyright {
    font-size: 12px;
  }
  /**/
}
@media (min-width: 1440px) {
  /*Base*/
  .wrapper {
    width: 81.25%;
  }
  .picture {
    max-height: 500px;
  }
  /**/
  /*First-tablet*/
  .screen {
    margin-top: 50px;
  }
  .screen__headline {
    font-size: 33px;
  }
  .img {
    margin: 50px auto 20px auto;
  }
  /**/
  /*Description-tablet*/
  .description__headline {
    font-size: 28px;
  }
  .description__first-text, .description__second-text {
    font-family: Lato, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    width: 573px;
    margin: 50px auto 40px 0;
  }
  .description__second-text {
    margin: 0 auto 70px 0;
  }
  /**/
  /*First-Tablet*/
  .first__headline {
    font-family: "Red Hat Display", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0.1em;
    text-align: left;
  }
  .first__first-text, .first__second-text {
    font-family: Lato, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #565656;
    margin: 15px auto;
  }
  .first__second-text {
    margin: 40px auto 70px auto;
  }
  .foot-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1165px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__number {
    margin: 30px 0;
  }
  .footer__email {
    margin: 14px 0;
  }
  .footer {
    padding-top: 70px;
    height: 300px;
    padding-bottom: 30px;
  }
  .social-holder {
    margin: 0;
  }
  .footer__copyright {
    margin-top: 25px;
  }
}
