main {
    display: flex;
    justify-content: space-between;
    padding: 20px;    
}
body {
    width: 860px;
    margin: 30px auto;
}
aside {
    background-color:#78767c;
    padding: 20px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.911);
    height: 760px;
}
.main-inf {
    background-color:#e2e2e2;
    padding-left: 20px;
    border-radius: 20px;
    color: #1c1833;
}
img {
    border-radius: 20px;
}
a {
    color:rgba(255, 255, 255, 0.911);
}
hr {
    border:1px solid rgb(253, 253, 253); ;
}
.main-hr {
    border: 1px solid rgb(0, 0, 0);
}
.a-main {
    color:#1c1833 ;
}