.banner {
    width: 1177px;
    height: 145px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 19px auto 24px auto;
}

.banner-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}