.header {
    width: 1177px;
    height: 48px;
    background-color: rgba(217, 217, 217, 1);
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 42px;
}

.logo {
    width: 181px;
    height: 37px;
    background-color: rgba(241, 242, 174, 1);
}

.nav {
    display: flex;
    gap: 19px;
}

.nav-item {
    width: 46px;
    height: 37px;
    background-color: rgba(231, 239, 214, 1);
}

.blog-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-left: 126px;
}